# Task 1

In [21]:
subjects = ["English", "Maths","Science","Philosophy","Programming"] 
total_marks = 0 
obtained_marks = 0

for i in range(5): 
    obtained_marks = obtained_marks + int(input(subjects[i]+"\t:\t")) 
    total_marks = total_marks +100
percentage = (obtained_marks/total_marks) * 100
if(percentage >= 90):
    grade = "A+"
elif(percentage >= 80):
    grade = "A"
elif(percentage >= 70):
    grade = "B"
elif(percentage >= 60):
    grade = "C"
else:
    grade = "F"

print("marks : "+str(obtained_marks)+" Grade : "+str(grade))

English	:	70
Maths	:	60
Science	:	35
Philosophy	:	90
Programming	:	56
marks : 311 Grade : C

# Task 2

In [22]:
number = int(input("Enter number : "))
if(number%2 == 0):
    print("\nGiven number us even!")
else:
    print("\nGiven number is odd!")

Enter number : 5

Given number is odd!

# Task 3

In [24]:
list = ["A","B","C"]
len(list)

3


# Task 4

In [37]:
list = ["Hello",1,2,3,4,"World",5]
sum = 0
for i in range(len(list)):
    if(type(list[i]) == type(1)):
        sum = sum + list[i]
sum

15

# Task 5

In [52]:
list = [1,2,8,3,4,9,5,6,7]

print("First way : ",max(list))

list.sort()
print("Second way : ",list.pop())

First way :  9
9

# Task 6

In [79]:
a = [1,1,2,3,4,8,13,21,34,55,89]
for i in range(len(a)):
    if(a[i] >= 5):
        continue
    else:
        print(i,end=" ")

0 1 2 3 4